.env
# Google Cloud credentials
credentials/
*.json
gcs-service-account.json
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
staticfiles/
django.log
static/