.env
# Google Cloud credentials
credentials/
*.json
gcs-service-account.json
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
staticfiles/
django.log
static/

estate/fromgit.py
estate/set3.py
estate/set.py
estate/set2.py
estate/setworkin.py
estate/setworkind22.py
estate/setworking233.py
estate/justsave.py